.Giris {
  text-align: center;
  font-weight: bold;
  color: #343a40;
  background-image: url("https://i.ibb.co/LN8wNwv/test.jpg");
  height: 610px;
  justify-content: center;
  align-items: center;
}

