.Login {
  text-align: center;
  font-weight: bold;
  color: #343a40;
  background-image: url("https://i.ibb.co/2nVX6wY/back.png");
  height: 630px;
  justify-content: center;
  align-items: center;
}
.header {
  font-family: Open Sans MS, Open Sans;
}
input {
  position: relative;
  border-radius: 5px;
  border: 1.5px solid #697da1;
  width: 260px;
  height: 35px;
}
input:focus {
  border: 2px solid #343a40;
}
i {
  cursor: pointer;
  position: relative;
  top: 2px;
  right: 25px;
}
.pass-wrapper {
  margin-left: 17px;
}
i:hover {
  color: #00fcb6;
  cursor: pointer;
}
.error {
  border: 2px solid red;
}

